name: Build and test

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
env:
    CARGO_TERM_COLOR: always

jobs:
    Pull:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-Application/
        runs-on: self-hosted
        steps:
        - name: Pull
          run: git pull
    Test:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-Application/src-tauri/
        runs-on: self-hosted
        steps:
        - name: Build
          run: cargo build --verbose
        - name: Run tests
          run: cargo test --verbose
