name: Build and Test

on:
  push:
    branches: ["main", "updating-cicd"]

env:
  CARGO_TERM_COLOR: always

jobs:

  Pull-ARM:
    runs-on: ARM64
    defaults:
      run:
        working-directory: /home/dietpi/ALS-Application/
    steps:
      - name: Pull ARM repo
        run: git pull

  Pull-X64:
    runs-on: X64
    defaults:
      run:
        working-directory: /home/will/ALS-Application/
    steps:
      - name: Pull x86_64 Linux repo
        run: git pull

  Test-ARM:
    needs: Pull-ARM
    runs-on: ARM64
    defaults:
      run:
        working-directory: /home/dietpi/ALS-Application/src-tauri/
    steps:
      - name: Add cargo to PATH
        run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
      - name: Build Rust (ARM)
        run: cargo build --verbose
      - name: Run Rust tests (ARM)
        run: cargo test --verbose

  Compile-ARM-Linux:
    needs: Test-ARM
    runs-on: ARM64
    defaults:
      run:
        working-directory: /home/dietpi/ALS-Application/
    steps:
      - name: Add cargo to PATH
        run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
      - name: Install Node dependencies
        run: npm install
      - name: Compile Linux ARM64
        run: npm run tauri build -- --target aarch64-unknown-linux-gnu
      - name: Upload ARM64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: elearningplatform-linux-arm64
          path: /home/dietpi/ALS-Application/src-tauri/target/aarch64-unknown-linux-gnu/release/bundle/

  Compile-Windows:
    needs: Test-ARM
    runs-on: ARM64
    defaults:
      run:
        working-directory: /home/dietpi/ALS-Application/
    steps:
      - name: Add cargo to PATH
        run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
      - name: Install Node dependencies
        run: npm install
      - name: Cross-compile Windows x64
        run: npm run tauri build -- --runner cargo-xwin --target x86_64-pc-windows-msvc
      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: elearningplatform-windows-x64
          path: /home/dietpi/ALS-Application/src-tauri/target/x86_64-pc-windows-msvc/release/bundle/nsis/

  Test-X64-Linux:
    needs: Pull-X64
    runs-on: X64
    defaults:
      run:
        working-directory: /home/will/ALS-Application/src-tauri/
    steps:
      - name: Add cargo to PATH
        run: echo "PATH=/home/will/.cargo/bin:$PATH" >> $GITHUB_ENV
      - name: Build Rust (x86_64 Linux)
        run: cargo build --verbose
      - name: Run Rust tests (x86_64 Linux)
        run: cargo test --verbose

  Compile-X64-Linux:
    needs: Test-X64-Linux
    runs-on: X64
    defaults:
      run:
        working-directory: /home/will/ALS-Application/
    steps:
      - name: Add cargo to PATH
        run: echo "PATH=/home/will/.cargo/bin:$PATH" >> $GITHUB_ENV
      - name: Install Node dependencies
        run: npm install
      - name: Compile Linux x86_64
        run: npm run tauri build -- --target x86_64-unknown-linux-gnu
      - name: Upload x86_64 Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: elearningplatform-linux-x64
          path: /home/will/ALS-Application/src-tauri/target/x86_64-unknown-linux-gnu/release/bundle/
