name: Build and test

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
env:
    CARGO_TERM_COLOR: always

jobs:
    Cargo-Set-up:
        runs-on: self-hosted
        steps:
        - name: Add cargo to PATH
          run: echo /home/dietpi/.cargo/bin >> $GITHUB_PATH
    Pull:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-Application/
        runs-on: self-hosted
        steps:
        - name: Pull
          run: git pull
    Test:
        needs:  Pull
        defaults:
            run:
                working-directory: /home/dietpi/ALS-Application/src-tauri/
        runs-on: self-hosted
        steps:
        - name: Build
          run: cargo build --verbose
        - name: Run tests
          run: cargo test --verbose
    Compile:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-Application/
        needs: Test
        runs-on: self-hosted
        steps:
        - name: Compile
          run: npm run tauri build -- --runner cargo-xwin --target x86_64-pc-windows-msvc


