name: Test

on:
    pull_request:
        branches: [ "main" ]
env:
    CARGO_TERM_COLOR: always

jobs:

    Pull:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-Application/
        runs-on: self-hosted
        steps:
        - name: Pull
          run: git pull
    Test:
        needs:  Pull
        defaults:
            run:
                working-directory: /home/dietpi/ALS-Application/src-tauri/
        runs-on: self-hosted
        steps:
        - name: Add cargo to PATH
          run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
        - name: Build
          run: cargo build --verbose
        - name: Run tests
          run: cargo test --verbose




